
# Directories and files used by edit/build/test tools
.coverage
.idea
.idea/*
.tox
.vscode
dist/

# Where there might be some intermediate files
code/dist
code/tests/secrets
code/develop-eggs/*
build/*

# Temporary and binary files
*.*~
*.egg-info*
__pycache__
*.pyc
*.pyo
*.so
*.swp
**/secrets/*

# Some of my local tools/directories
archive
tools.untracked
checkRemote

# Other local directories I may use
issues
